<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Azure.Core" version="1.38.0" targetFramework="net48" />
  <package id="Azure.Identity" version="1.11.4" targetFramework="net48" />
  <package id="Hangfire.AspNetCore" version="1.8.15" targetFramework="net48" />
  <package id="Hangfire.Core" version="1.8.15" targetFramework="net48" />
  <package id="Hangfire.NetCore" version="1.8.15" targetFramework="net48" />
  <package id="Hangfire.SqlServer" version="1.8.15" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Antiforgery" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Cryptography.Internal" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.DataProtection" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.DataProtection.Abstractions" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Hosting.Abstractions" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Hosting.Server.Abstractions" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Extensions" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net48" />
  <package id="Microsoft.Data.SqlClient" version="5.2.2" targetFramework="net48" />
  <package id="Microsoft.Data.SqlClient.SNI" version="5.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.ObjectPool" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Identity.Client" version="4.61.3" targetFramework="net48" />
  <package id="Microsoft.Identity.Client.Extensions.Msal" version="4.61.3" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.35.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.35.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Logging" version="6.35.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Protocols" version="6.35.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="6.35.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.35.0" targetFramework="net48" />
  <package id="Microsoft.Net.Http.Headers" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Owin" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Owin.Host.HttpListener" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Owin.Hosting" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="4.4.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="5.0.1" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net48" />
  <package id="Serilog" version="4.1.0" targetFramework="net48" />
  <package id="Serilog.Sinks.Console" version="6.0.0" targetFramework="net48" />
  <package id="Serilog.Sinks.File" version="6.0.0" targetFramework="net48" />
  <package id="Serilog.Sinks.Grafana.Loki" version="8.3.0" targetFramework="net48" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.ClientModel" version="1.0.0" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.1" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.1" targetFramework="net48" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.35.0" targetFramework="net48" />
  <package id="System.IO.FileSystem.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Memory.Data" version="1.0.2" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.ProtectedData" version="4.7.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Xml" version="4.4.0" targetFramework="net48" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net48" />
  <package id="System.Threading.Channels" version="8.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>